body {
    font-family: Helvetica;
    background-color: black;
    color: lightgrey;
}

table, th, td {
    border: 1px solid lightgrey;
    font-size: 5vw;
    text-align: right;
}

table {
  width: 100%;
}

td {
  width: auto;
}

.late { background-color: darkblue; }
.early { background-color: darkred; }
.on-time { background-color: darkgreen; }
.no-prediction { color: darkgrey; }
#stopName {
    font-size: 5vw;
    text-align: center;
    width: 100%;
}
#stopDetail {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.delta-info {
    font-size: 2.5vw;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:  space-between;
}

#headerLeft {
    justify-content: left;
}

#headerRight {
    justify-content: right;
}

#stopInfo {
    flex-direction: column;
}

.slid-out {
    left: -200%;
}

.slid-in {
    left: 0;
    transition-delay: 0.5s;
}

.slider {
    transition: left 0.5s;
    position: absolute;
    top: 0;
}

#mainDiv {
    position:relative;
}

.bus-button {
    font-family: Helvetica;
    background: black;
    color: white;
    font-weight: bolder;
}
