body {
    font-family: Helvetica;
    background-color: black;
    color: lightgrey;
}
table, th, td {
    border: 1px solid lightgrey;
    font-size: 5vmin;
    text-align: right;
}
.late { background-color: darkblue; }
.early { background-color: darkred; }
.on-time { background-color: darkgreen; }
.no-prediction { color: darkgrey; }
.stop-name {
    font-size: 5vmin;
    text-align: center;
    width: 100%;
}
.stop-detail {
    font-size: 2vmin;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}
