body { font-family: Helvetica; }
table, th, td {
    border: 1px solid black;
    font-size: 5vmin;
    text-align: right;
}
.late { background-color: paleturquoise; }
.early { background-color: lightpink; }
.on-time { background-color: lightgreen; }
.no-prediction { color: grey; }
.stop-name {
    font-size: 5vmin;
    text-align: center;
    width: 100%;
}
.stop-detail {
    font-size: 2vmin;
    text-align: center;
    margin-bottom: 10;
    width: 100%;
}
